:root{
    --gradient-color1: linear-gradient(to left, #700e75,#4ba1e3);
    --primary-color: black;
    --gradient-color2: linear-gradient(to right, #13B0F5, #CA24B4);
    --color-time: #33cc33;
    --color-font-time: #ccffcc;
    --second-color: #666;
    --hr-color: lightgrey;


}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    padding: 10px 20px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fares-logo {
    width: 10%;
    background-image: var(--gradient-color2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: fit-content;
    
    
     
}

.humberger img{
    width: 30px;
}
.humberger{
    display: none;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    line-height: 1.6;
    margin:30px 0 30px 0px;
}

.links a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    
}

.nav-icons{
    
    display: flex;
    align-items: center;
    gap: 100px;
    
}

.nav-icons img{
    width: 30px;
    

}

.index-section h1{
    font-size: 24px;
}

.index-img{
    display: inline-block; 
    border-radius: 50%; 
    overflow: hidden; 
    padding: 5px; 
    background: var(--gradient-color2);
    margin-top: 30px;
    max-width: 260px;
    max-height: 260px;
    
}

.index-section .index-img img{

    width: 250px;
    height: 250px;
    border-radius: 50%;
    
    display: block; 

}

.index-container{
    padding-top: 90px;
}

.index-gradient-text{
    
    background-image: var(--gradient-color1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

footer{
    display: none;
}

@media (min-width: 900px){
    body{
        margin: 0px 150px;
        height: 100%;

    }
    header{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    .nav-header{
        display: flex;
        width: 20%;
    }

    .nav-links{
        width: 70%;
        display: flex;
        
    }
        

    .nav-icons{
        display: flex;
        gap: 15px;
        width: 3%;
        margin: 10px;
    }
    .humberger img{
        display: none;
    }
    .links{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    } 
    
    .links a{
        margin: 0px 10px;
    }

    .index-section{
        width: 100%;
        
        display: flex;
    }

    footer{
        display: flex;
        justify-content:center ;
        align-items: flex-end;
        font-size: 12px;
    }

    main{
        
    }

    .index-container{
        display: flex;
        height: 650px;
        padding-top: 200px;
    }
    .index-section h1{
        font-size: 48px;
        width: 60%;
        
    }

    .index-img{
        display:flex;
        justify-content: flex-end;
        width: 40%;
        
    }
    .index-footer1{
        background-image: var(--gradient-color1);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    .index-footer2{
        background-image: var(--gradient-color1);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    
}

body{
    
}
.links1{
    width: 150px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    line-height: 3;
    margin:30px 0 30px 0px;
    position: absolute;
    right: 0;
    top: 60px;
    background-color:var(--color-font-time);
    margin: 0;
    padding: 0;
    border-radius: 10px;

    
}

.links1 a{
    text-decoration: none;
    font-weight: 900;
    width: 200px;
    color: black;
    cursor: pointer;
    
}
.links1 a:hover{
    color:var(--color-time);
}

.humberger{
    display: flex;
    cursor: pointer;
}



.about-nav-links{
    display: none;
}

.about-nav-icons{
    display: none;
}
.about-nav-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.about-header{
    display: flex;
    width: 100%;
}

h2 {
    font-size: 18px;
    margin-top: 40px;
}
.about-main .about-me {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    
}

.about-main h2{
    cursor: pointer;
}
.section {
    margin-top: 40px;
    
}
#about{
   /*  margin-right: 5px; */
}
.job {
    display: flex;
    flex-direction: column;
    
    margin:20px 0px;
}
.post{
    display: flex;
    justify-content: space-between;
}

.company-date{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}
.post .post-name {
    font-size: 16px;
    margin: 0;
}
.company p {
    display: flex;
    
    font-size: 14px;
}

.company {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--second-color);
    
}
.company i {
    margin-right: 5px;
}
.type {
    background-color: var(--color-font-time);
    color: var(--color-time);
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    
}
.company-date .date {
    display: flex;
    font-size: 16px;
    color: var(--second-color);
}

hr{
    border: 1px solid var(--hr-color);
}
.footer-about{
    display: flex;
    justify-content:center ;
    align-items: flex-end;
    font-size: 12px;
    
}
.about-footer1{
    background-image: var(--gradient-color1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.about-footer2{
    background-image: var(--gradient-color1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@media (min-width: 900px){

    body{
        margin-top: 20px;
    }

    .about-header{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 0px;
    }

    .about-nav-header{
        
        display: flex;
        width: 20%;
        
    }

    .about-nav-links{
       
        display: flex;
        width: 70%;
        
        
    }
    .links1{
        
        display: none;
    }
    
    .about-links{
        justify-content: space-between;
        width: 80%;
        
        display: flex;
        list-style: none;
        flex-direction: row;
        
    }
    .about-links a{
        text-decoration: none;
        color: var(--primary-color);
        font-weight: 500;
        margin: 0px 10px;
    }
        

    .about-nav-icons{
        display: flex;
        gap: 15px;
        margin-left: 10px;
        
    }

    .about-main{
        max-width: 650px;
    }
    #about{
        max-width: 800px;
    }
    h2{
        font-size: 24px;
    }

    .post .post-name {
        font-size: 18px;
        margin: 0;
    }

    .company{
        width: 50%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .about-nav-icons img{
        width: 30px;
    }

}

.Technologies{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    gap: 40px;
}

.Tools{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    gap: 40px;
}

.Technologies img{
    width: 80px;
}

.Tools img{
    width: 80px;
}

.Tech-Stack-main h2{
    margin: 20px 0px;
}
.Tech-Stack-main p{
    margin-bottom: 30px;
}

body{
   
}

.Tech-Stack-main{
    min-height: calc(100vh - 60px - 40px);
}

.Tech-Stack-footer{
    display: flex;
    justify-content: center;
    font-size: 12px;
    text-align: center;
}

.projects-container{
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    
}
.container-aside-project{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

.project{
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 4px 4px lightgray;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    
}

.github img{
    width: 15px;
}

.chain img{
    width: 15px;
}

.container-image-project img{
    width: 100%;
    height: 300px ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
}



.chain-github{
    display: flex;
    justify-content: space-between;
    
}

.projects h2{
    margin: 10px 0px;
}

.container-aside-project h5{
    padding: 15px 0px;
}

.container-aside-project p{
    font-size: 12px;
    margin-bottom: 15px;
}
.chain-github a{
    color: black;
}
.container-aside-project{
    margin: 10px;
}

.projects{
    margin-top: 30px;
}

.Tech-Stack-footer{
    margin-top: 10px;
}

@media (min-width: 900px){
    .project{
        width: 270px;
        display: flex;
         
    }

    .projects-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 50px;
        
    }
    
}
.contact-main{
   height: 78vh;
}

.contact-main{
    margin: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.info{
    width: 100%;
    text-align: center;
    
}

.mail{
    background-image: var(--gradient-color1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
    display: block;
  
}

@media (min-width:900px){
    .contact-main{
        height: 70vh;
        text-align: center;
        font-size: 36px;
     }

}




